* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    background-size: calc(1920px *6);
    background-image: url(../imgs/bckgrd.png);
}

.links--container {
    display: flex;
    flex-direction: row;
    background-color: #666;
    width: 100%;
    padding-left: 30vw;
    padding-top: 5px;
}

.about--links {
    margin-left: 15%;
}

.home--links {
    margin-left: 13%;
}

/*///////////////////////////////////*/

.landing--about {
    display: flex;
    justify-content: center;
    padding-left: 15vw;
}

.title--about {
    margin: 25px;
    line-height: 70px;
}

/*///////////////////////////////////*/

.links {
    font-family: 'Ringbearer';
    font-size: 25px;
    color: white;
    margin-right: 25px;
}

a.links {
    text-decoration: none;
}

.header--custom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.anchor-nav {
    padding: 30px 10px 10px 45%;
    width: 100vw;
}

.anchor {
    padding-right: 10px;
}

header {
    position: fixed;
    top: 10px;
    left: -10px;
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.full-screen {
    display: flex;
    width: 500vw;
    max-height: 100%;
    overflow: hidden;
    height: 100%;
    /*     makes panels the entire window height */
}

.landing {
    display: grid;
    /*    grid-template-columns: auto auto;*/
    margin-left: -200px;
    margin-top: 10vh;
    color: black;
}

.title {
    background-image: url(../imgs/title.png);
    background-size: cover;
    width: 350px;
    height: 110px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Ringbearer';
    padding-top: 17px;
}

@font-face {
    font-family: "Ringbearer";
    src: url("../fonts/RINGM___.ttf") format("truetype");
}

.text {
    max-width: 400px;
    min-height: 100px;
    background-color: white;
    padding: 30px;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    text-align: justify;
    color: black;
}

/*//////////////////////////////*/

.landing--hobbit {
    grid-template-areas: "picH picH textH""titleH titleH textH";
}

.hobbit {
    grid-area: picH;
    width: 550px;
}

.text--start {
    grid-area: textH;
    position: absolute;
    margin-top: 420px;
    margin-left: 150px;
}

.title--start {
    grid-area: titleH;
    position: absolute;
    margin-left: 400px;
    margin-top: 220px;
    animation-name: titlefloat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes titlefloat {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

/*//////////////////////////////*/

.landing--orc {
    grid-template-areas: "text--orc text--orc pic--orc pic--orc""title--orc title--orc pic--orc pic--orc""title--orc title--orc pic--orc pic--orc";
}

.text--orc {
    width: 300px;
    grid-area: text--orc;
    margin: 0px -50px 0px 50px;
    height: 380px;
}

.title--orc {
    grid-area: title--orc;
    margin-top: 40px;
    margin-right: 90px;
    animation-name: orctitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes orctitle {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

.orc {
    width: 400px;
    grid-area: pic--orc;
    margin-right: -50px;
}

.landing--orc {
    grid-template-areas: "text--orc text--orc pic--orc pic--orc""title--orc title--orc pic--orc pic--orc""title--orc title--orc pic--orc pic--orc";
}

/*//////////////////////////////*/

.ring {
    width: 500px;
    grid-area: picR;
    margin: 50px 50px 0px 50px;
}

.title--ring {
    grid-area: titleR;
    margin-left: 120px;
    margin-top: -80px;
    line-height: 70px;
    animation-name: ringtitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes ringtitle {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

.text--ring {
    grid-area: textR;
    margin: 50px 25px;
    margin-left: 70px;
    max-width: 250px;
}

.landing--ring {
    grid-template-areas: "textR picR picR""textR picR picR""textR titleR titleR";
}

/*//////////////////////////////*/

.troll {
    width: 900px;
    margin-top: -40px;
    grid-area: pic--troll;
}

.landing--troll {
    margin-left: 0px;
    grid-template-areas:
        "title--troll title--troll""pic--troll pic--troll";
}

.troll--title {
    grid-area: title--troll;
    margin: -20px 0px 0px 300px;
    animation-name: trolltitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes trolltitle {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

/*//////////////////////////////*/

.mountdoom {
    width: 500px;
    grid-area: mountdoom1;
    margin-left: 300px;
}

.title--md {
    line-height: 70px;
    grid-area: mountdoom2;
    margin-left: -70px;
    animation-name: mdtitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes mdtitle {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

.text--md {
    grid-area: mountdoom3;
    width: 450px;
    margin-top: 50px;
    margin-left: 400px;
}

.empty--md {
    grid-area: empty;
}

.landing--md {
    grid-template-areas: "mountdoom1 mountdoom1 empty""mountdoom1 mountdoom1 mountdoom2""mountdoom3 mountdoom3 mountdoom2""mountdoom3 mountdoom3 mountdoom2";
}

/*//////////////////////////////*/
/*//////////////////////////////*/

/*//////////////////////////////*/
/*//////////////////////////////*/

/*
/////
///                    https://codepen.io/niallains/pen/dxbOyX
/////                 pop up information
*/

body > button {
    display: block;
    min-width: 150px;
}

button {
    display: inline;
    background-color: white;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    text-align: justify;
    color: black;
    font-weight: 600;
    border: 1px solid white;
}

button:hover {
    cursor: pointer;
}

/* Overlay Styles */

.overlayBg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    display: none;
}

.overlayBg.open {
    display: block;
}

[overlay] {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    max-width: 500px;
    padding: 20px;
    background-color: white;
    background-image: url(../imgs/paper.jpg);
    background-size: cover;
    background-position: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s, transform 0.2s;
}

[overlay].open {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;
}

[overlay] button.close {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    color: black;
    cursor: pointer;
    outline: none;
}

[overlay] button.close:hover,
[overlay] button.close:focus {
    color: black;
}

/*
//////////
/////////
//////////
*/
